table(class=leng)
	each day, key in data.days
		tr 
			td 
				span !{textBlock.eightBlocks[key]}
		tr
			each block in day.blocks
				td 
					a(href=block.desc.url)
						img(src=tempImg[block.cover])
						h1= block.title
						p= block.desc.text
					//- script
					//- 	| var species = !{JSON.stringify(block)};
					//- 	| console.log(species.desc, 'awdawd')